/* 上下篇文章的样式 */
div.paper-info {
    font-size: 10px;
    margin-top: 0.5em;
}
div.paper-info span {
    font-size: 14px;
}

p.pre-paper {
    float:left;
}

p.next-paper {
    float: right;
}
/* */
div.blog {
    margin-top: 30px;
}

.blog h1 {
    font-family: "微软雅黑",Arial,verdana;
    font-size: 28px;
    font-weight: bold; }

.blog h2 {
    font-family: "微软雅黑",Arial,verdana; font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0px; }

.blog h3 {
	font-family: "微软雅黑",Arial,verdana;
	font-size: 22px;
	font-weight: bold;
	margin: 0.5em 0px; }

.blog h4 {
	font-family: "微软雅黑",Arial,verdana;
	font-size: 1.15em;
	font-weight: bold;
	padding: 0px;
	margin: 0.5em 0px; }

.blog h5, h6 { font-size: 1.15em; font-weight: bold; padding: 0px; margin: 0.5em 0px; }
.blog h1, h2, h3, h4 { color: rgb(51, 51, 51); text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.3); }

.blog p {
	font-size: 1.15em;
	font-weight: bold;
	padding: 0;
	margin: 0.5em 00px;}

.codehilite {
    background: #282c34;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
    word-wrap: normal;
    word-break: break-word !important;
    word-break: break-all;
    white-space: pre;
    overflow: auto;
    border-radius: 4px;
}

