{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
css_list = [autumn, borland, bw, colorful, default, emacs, friendly, fruity, github, manni, monokai, murphy, native, pastie, perldoc,
 tango, trac, vim, vs, zenburn]
{% block blog_active %}topnav_current{% endblock %}
{% block css %}
	<link href="{% static 'blog/css/blog_detail.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'blog/css/highlights/monokai.css' %}">
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="l_box f_l">
	    <div class="topnews">
		    <div class="begin">
			    <span>
				    很高兴，主人能阅读来自{% total_blogs %}篇博客中,热度为{{ blog.get_read_num }}出彩一篇
                </span>
                <b>文章</b>推荐
            </div>
		    <div class="paper-info">
			    {% if pre_blog %}
			        <p class="pre-paper"> <a href="{% url 'blog_detail' pre_blog.pk %}"><span>上一篇：</span>{{ pre_blog }}</a> </p>
			    {% else %}
			        <p class="pre-paper"> 上一篇：没有了</p>
			    {% endif %}
			    {% if next_blog %}
			        <p class="next-paper"><a href="{% url 'blog_detail' next_blog.pk %}"><span>下一篇：</span>{{ next_blog }}</a></p>
			    {% else %}
			        <p class="next-paper"> 下一篇：没有了</p>
			    {% endif %}
		    </div>
		    <div class="blog">
			    <h1> {{ blog.title }}</h1>
			    <p> {{ blog.content |safe }}</p>
		    </div>
		    
		    <!------------------------------标签块----------------------------------------------->
			    <div class="tag">
				    <h5>本文标签：</h5>
		            <ul>
			            {% for tag in blog_tags %}
			                <a href="{% url 'blogs_with_tag' tag.pk %}"> {{ tag.name }}</a>
			            {% empty %}
			            暂无标签
			            {% endfor %}
		            </ul>
			    </div>
		    <!--------------------------这里实现的是评论的提交--------------------------------------------------------->
		    <div class="comment-area">
                    <h3 class="comment-area-title">评论</h3>
                    {% if user.is_authenticated %}
			            <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                            <h4>{{ user.username }}，欢迎评论~</h4>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
			            <div class="no-login">
				            <h3>未登录，登录之后方可评论
                                <a class="login" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
					            or
					            <a class="register" href="{% url 'register' %}?from={{ request.get_full_path}}">注册</a>
				            </h3>
			            </div>
                    {% endif %}
                </div>
		    <!------------------------------------这里实现的是评论的展示--------------------------------------------------------------->
		    <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
			        <div id="comment_list">
				        {% for comment in comments %}
                        <div>
                            {{ comment.user.username }}
                            ({{ comment.comment_time|date:"Y-m-d H:i:s" }})：
                            {{ comment.text |safe }}
                        </div>
	                    {% empty %}
				        <span id="no_comment">
					        暂无评论
				        </span>
	                    {% endfor %}
			        </div>
                </div>
        </div>
      </div>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 插入数据
                        var comment_html = '<div>' + data['username'] +
                                           ' (' + data['comment_time'] + ')：' +
                                           data['text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                    }else{
                 
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                        // 移除该节点
                        $("#no_comment").remove()
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>
{% endblock %}