<!doctype html>
{% load staticfiles %}
{% load blog_tags %}
<html>
<head>
  <meta charset="utf-8">
  <title>博客改编</title>
  <link href="{% static 'blog/css/base.css' %}" rel="stylesheet" />
  <link href="{% static 'blog/css/index.css' %}" rel='stylesheet' />
  {% block css %}{% endblock %}
</head>

<body>
	<header>
    	<div class="logo f_l"> <a href="/"><img src="{% static 'blog/images/logo.png' %}"></a> </div>
        	<nav id="topnav" class="f_r">
            <ul>
                <a href="{% url 'index' %}" id='topnav_current'>首页</a>  <!-- target='_blank' 之后便可以在新的一页加载-->
                <a href="{% url 'index' %}" target="">关于我</a>
                <a href="{% url 'index' %}" target="">文章</a>
                <a href="{% url 'index' %}" target="">心情</a>
                <a href="{% url 'index' %}" target="">相册</a>
                <a href="{% url 'index' %}" target="">留言</a>
            </ul>
  		</nav>
    </header>
    <article>
     {% block content %}
      {% endblock %}
      <div class="r_box f_r">
        <div class="moreSelect" id="lp_right_select">
           <script>
              window.onload = function ()
              {
                var oLi = document.getElementById("tab").getElementsByTagName("li");
                var oUl = document.getElementById("ms-main").getElementsByTagName("div");
                
                for(var i = 0; i < oLi.length; i++)
                {
                  oLi[i].index = i;
                  oLi[i].onmouseover = function ()
                  {
                    for(var n = 0; n < oLi.length; n++) oLi[n].className="";
                    this.className = "cur";
                    for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                    oUl[this.index].style.display = "block"
                  }
                }
              }
            </script>
          <div class="ms-top">
            <ul class="hd" id="tab">
              <li class="cur"><a href="/">点击排行</a></li>
              <li><a href="/">最新文章</a></li>
              <li><a href="/">站长推荐</a></li>
            </ul>
          </div>
          <div class="ms-main" id="ms-main">
            <div style="display: block;" class="bd bd-news" >
              <ul>
                <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
              </ul>
            </div>
            <div  class="bd bd-news">
	            {% get_recent_blogs as recent_blogs %}
	              <ul>
	                {% for blog in recent_blogs %}
		              <li><a href="{% url 'blog_detail' blog.pk %}" >{{ blog.title }}</a></li>
		              {% empty %}
		              暂无相关内容
		              {% endfor %}
	              </ul>
            </div>
            <div class="bd bd-news">
              <ul>
                <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
              </ul>
            </div>
          </div>
          <div class="cloud">
            <h3>标签云</h3>
	          {% get_all_tags as all_tags %}
            <ul>
	            {% for tag in all_tags %}
	                <li><a href="/">{{ tag.name }}</a></li>
	            {% empty %}
	                暂无标签
	            {% endfor %}
              <li><a href="/">个人博客</a></li>
              <li><a href="/">web开发</a></li>
              <li><a href="/">前端设计</a></li>
            </ul>
          </div>
	        <div class="date">
		        <h3>时间归档</h3>
		        {% get_blogs_with_date as blogs_with_date %}
		        <ul>
			        {% for blog in blogs_with_date %}
			            <li>
				            <span class="date-logo"><a href="{% url 'blogs_with_date' blog.year blog.month %}">{{ blog.year }}年{{ blog.month }}月</a></span>
			            </li>
			            <li>
				            <span class="date-logo"><a href="#">{{ blog.year }}年{{ blog.month }}月</a></span>
			            </li>
			 
			        {% empty %}
			            暂无相关内容
			        {% endfor %}
		        </ul>
	        </div>
	        <div class="category">
		        <h3>类型归档</h3>
		        {% get_all_categories as all_categories %}
		        <ul>
			        {% for category in all_categories %}
			            <li>
				            <a href="{% url 'blogs_with_category' category.pk %}"> {{ category.name }}</a></li>
			        {% empty %}
			            暂无分类
			        {% endfor %}
		        </ul>
		        
	        </div>
          <div class="tuwen">
            <h3>图文推荐</h3>
            <ul>
              <li><a href="/"><img src="images/01.jpg"><b>住在手机里的朋友</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/"><img src="images/02.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/" title="手机的16个惊人小秘密，据说99.999%的人都不知"><img src="images/03.jpg"><b>手机的16个惊人小秘密，据说...</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/"><img src="images/06.jpg"><b>住在手机里的朋友</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/"><img src="images/04.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
</body>
</html>
